body {
    margin: 0;
    font-family: sans-serif;
    background: url("https://static.vecteezy.com/system/resources/previews/000/115/312/non_2x/free-music-background-vector.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

#bands {
    font-size: 20px;
    width: 500px;
    margin: auto;
    padding: 0;
    list-style-type:none;
}

#bands li {
    color:white;
    padding: 20px;
    }
    
    #bands li:last-child {
    border-bottom: 0;
}

a {
    color: #ffc600;
    text-decoration: none;
}
