html{
    margin:0;
    padding:0;
    background-image: url("background.jpg");
    height:100%;
}

body{
    min-height: 100%; 
    display:flex;
    align-items: center;
    justify-content: center;
}

.clock-face{
    border: 7px solid white;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    position:relative;
}

.hand{
    width: 50%;
    border-top: 2px solid rgb(147, 145, 145);
    border-bottom: 2px solid rgb(147, 145, 145);
    position:absolute;
    top: 50%;
    padding: 0;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.33, 2.26, 0.53, 1.46);
}